.admin-sec {
    @apply bg-light py-10 flex flex-col items-center w-screen;
}

.admin-sec h2{
    @apply text-4xl text-blue-300 font-semibold mb-10;
}

.admin-sec h4 {
    @apply cursor-pointer font-medium text-blue-300 text-xl mb-4 w-6/12 text-left;
}

.search-bar {
    @apply text-blue-300 bg-white border border-blue-300 rounded-lg py-3 px-4 w-6/12 font-poppins mb-14;
}

.search-bar:focus {
    @apply outline-none ring-2 ring-blue-400;
}

.user-details {
    @apply bg-white border border-blue-300 rounded-lg w-6/12 font-poppins;
    border-collapse: collapse;
}

.user-details th,
.user-details td {
    @apply py-3 px-4 border-b border-blue-300 w-1/3;
}

.user-details th {
    @apply font-semibold text-blue-300 text-xl;
}

.user-details td {
    @apply text-blue-300 text-lg;
}
.user-details tr{
    @apply text-center;
}
.detail-btn:hover{
    @apply text-blue-400 cursor-pointer;
}