.importantLinks{
    @apply bg-light flex flex-col items-center pt-12  w-screen;
}
.Imp-link-cont{
    @apply grid grid-cols-2 gap-x-10 w-10/12 mb-12;
}
.Imp-link{
    @apply min-w-[180px] mb-5 py-2 text-xl text-grey-300 border border-grey-300 rounded-[20px] font-medium;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
/* .Imp-link:hover{
    @apply min-w-[180px] py-2 text-xl bg-blue-200 text-white rounded-[20px] font-medium;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */
.Imp-link-clicked{
    @apply min-w-[180px] mb-5 py-2 text-xl bg-blue-200 text-white rounded-[20px] font-medium;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}